nav{
  display: flex;
  flex-direction: row;
  background-color: rgba(2, 56, 129, 0.90);
  height: 90px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 100%;
}

a{
    text-decoration: none;
    color: white;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
}

a:hover{
  color: #E49DB9;
  
}

header{
  background-color: none;
  height: 500px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
    width: 100%;
    height: 871px;
    flex-shrink: 0;
    align-items: center;
}

h1{
    text-align: center;
    color: #404040;
    font-family: "cardo", serif;
    font-style: italic;
    font-size: 82px;
    margin-top: 220px;
}

p{
    text-align: center;
    color: #404040;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 36px;
    margin-bottom: 627;
    width: 1000px;
    align-content: center;

}

footer{
  display: flex;
  flex-direction: row;
  background-color: rgba(2, 56, 129, 0.90);
  height: 135px;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  margin-top: 270px;
  bottom: 0px;
  width: 100%;
}

#p2 {
    text-align: right;
    color: white;
    font-size: 24px; 
    align-items: right;
    margin-right: 20px;
}

.carrois-gothic-regular {
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  body{
    background-color:lightgoldenrodyellow;
  }