nav{
  display: flex;
  flex-direction: row;
  background-color: #023881E5;
  height: 132px;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  top: 0px;
  width: 100%;
}

a{
    text-decoration: none;
    color: white;
    text-align: right;
    width: 372px;
    height: 71px;
    flex-shrink: 0;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 32px;
    margin-top: 61px;
    margin-right: 20px;
}

a:hover{
    color: #E49DB9;
  }

.header{
  display: grid;
  background-color: #F2CB05CC;
  height: 820px;
  grid-column-gap: 46.5rem;
  grid-template-columns: auto;
  grid-template-rows: 164px 164px 164px;
  background-image: url("../img/orchidheader4.png");

}

.grid-item7{
  display: flex;
  align-items: flex-start;
  font-family: "cardo", serif;
  font-size: 104px;
  font-style: italic;
  color: #404040;
  width: 672px;
  padding-left: 153px;
  padding-bottom: 50px;
}

.grid-item8{
  display: flex;
  color: #404040;
  font-family: "Carrois Gothic", sans-serif;
  font-size: 38px;
  width: 938px;
  padding-left: 153px;
  grid-column-start: 1;
  grid-column-end: 2;
    
}

.grid-item9{
  display: flex;
  color: #404040;
  font-family: "Carrois Gothic", sans-serif;
  font-size: 38px;
  width: 196px;
  padding-left: 153px;
  padding-top: 100px;
}

h1{
  font-family: "cardo", serif;
  font-size: 96px;
  font-style: italic;
  color: #404040;
  width: 672px;
  height: 135px;
  flex-shrink: 0;
  padding-left: 153px;
  padding-bottom: 30px;
  font-weight: 400;
}

h2{
  font-family: "cardo", serif;
  font-size: 80px;
  font-style: italic;
  color: #404040;
}

header{
    color: #F2CB05CC;
    width: 100%;
    height: 490px;
    flex-shrink: 0;
}


footer{
    width: 100%;
    height: 153px;
    flex-shrink: 0;
    background-color: #023881E5;
}

#p2 {
    text-align: right;
    color: white;
    font-size: 24px; 
    margin-right: 20px;
}


.grid-container{
  display: grid;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  padding-top: 340px;
  padding-bottom: 150px;
  background-color:lightgoldenrodyellow;
}

.grid-item1{ 
  display: flex;
  justify-items: center;
  width: 812px;
  height: 976px;
  flex-shrink: 0;
  
}

.grid-item2{
 
  color: #404040;
  font-family: "Carrois Gothic";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 548px;
  
  height: fit-content;
  flex-shrink: 0;
}

.grid-item3{
  display: flex;
  justify-items: center;
  width: 812px;
  height: 781px;
  flex-shrink: 0;
  
}

.grid-item4{
  color: #404040;
  font-family: "Carrois Gothic";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 546px;
  height: fit-content;
  flex-shrink: 0;
}

.grid-item5{
  display: flex;
  justify-items: center;
  width: 812px;
  height: 812px;
  flex-shrink: 0;
 
  
}

.grid-item6{
  width: 546px;
  height: fit-content;
  color: #404040;
  font-family: "Carrois Gothic";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.carrois-gothic-regular {
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }
  